/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  /* Ícone do menu */
  .menu-icon {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
  }
  
  /* Estilo da sidebar */
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: width 0.5s ease;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #575757;
  }
  
  /* Botão de fechar */
  .close-btn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
  }
  
  /* Responsividade */
  @media screen and (max-width: 600px) {
    .sidebar a {
      font-size: 18px;
    }
  }
  