body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.borda {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Login, .entrar {
    background-color: silver;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.Login p, .entrar p {
    color: black;
    margin: 0;
    font-size: 18px;
}

.usuario {
    margin-bottom: 20px;
}

.usuario p {
    margin: 0;
    font-size: 16px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}